#d0 {


    
}


#d1{
    display: inline-block;
    margin-right: 10px;  
}


#d2{
    
    
    display: inline-block;
    margin-right: 10px;
    
    

}

#d3{
    
    display: inline-block;
    

}

#List1 {
    
    background-color: aqua;
}

